PUBLIC_APPWRITE_PROJECT_ID="appwrite_project_id"
PUBLIC_APPWRITE_PROJECT_NAME="appwrite_project_name"
PUBLIC_APPWRITE_ENDPOINT="https://appwrite.endpoint"
APPWRITE_API_KEY="standard_your_api_key_here"
PUBLIC_SANITY_PROJECT_ID="project_id"
PUBLIC_SANITY_DATASET="dataset"
SANITY_API_READ_TOKEN="token"
PUBLIC_SANITY_API_VERSION="date" # e.g. "2023-03-25"
PUBLIC_SANITY_STUDIO_URL="https://value.sanity.studio"